

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.backdrop-dark {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); // Equivale a bg-opacity-30
  z-index: 30;
}


